 -------------------- 
  API接口列表
 -------------------- 
  keyhom
 -------------------- 
  2012-12-20
 -------------------- 
 
API接口列表

* 管理API

*----------+-----------------------------+---------------------------+---------+
 <<名称>>     ||URI                        ||参数                     ||描述
*----------+-----------------------------+---------------------------+---------+
 Ping | {{{${apiDomain}/ping}/ping}} | 无 | 检测IDE是否正在处理服务中。
*----------+-----------------------------+---------------------------+---------+
 Jobs | {{{${apiDomain}/jobs}/jobs}} | 无 | 查看IDE的执行任务列表
*----------+-----------------------------+---------------------------+---------+
 Bash | {{{${apiDomain}/shell}/shell}} | command 命令行内容 | 在IDE中执行Bash命令
*----------+-----------------------------+---------------------------+---------+
 Workspace Directory | {{{${apiDomain}/workspace_dir}/workspace_dir}} | 无 | 检测IDE的工作空间路径
*----------+-----------------------------+---------------------------+---------+

* 项目API

*----------+-----------------------------+---------------------------+---------+
 <<名称>>     ||URI                        ||参数                     ||描述
*----------+-----------------------------+---------------------------+---------+
 Projects  | {{{${apiDomain}/projects}/projects}} | 无 | 检测所有项目的大致信息。
*----------+-----------------------------+---------------------------+---------+
 ProjectList | {{{${apiDomain}/project_list}/project_list}} | nature 项目类型（可选），格式：java,maven | 列出所有项目或指定类型的项目。 
*----------+-----------------------------+---------------------------+---------+
 ProjectByResource | {{{${apiDomain}/project_by_resource}/project_by_resource}} | file 文件路径 | 通过指定文件路径获取该文件所处的项目名称。
*----------+-----------------------------+---------------------------+---------+
 ProjectInfo | {{{${apiDomain}/project_info}/project_info}} | project 指定的项目名称 | 获取项目的信息。
*----------+-----------------------------+---------------------------+---------+
 ProjectRefresh | {{{${apiDomain}/project_refresh}/project_refresh}} | project 指定的项目名称 | 执行项目刷新任务。
*----------+-----------------------------+---------------------------+---------+
 ProjectImport | {{{${apiDomain}/project_import}/project_import}} | file 项目所在的文件路径 | 导入项目。
*----------+-----------------------------+---------------------------+---------+
 ProjectCreate | {{{${apiDomain}/project_create}/project_create}} | | |
*----------+-----------------------------+---------------------------+---------+
 ProjectDelete | {{{${apiDomain}/project_delete}/project_delete}} | project 指定的项目名称 | 删除项目。
*----------+-----------------------------+---------------------------+---------+
 ProjectOpen | {{{${apiDomain}/project_open}/project_open}} | project 指定的项目名称 | 打开指定项目。
*----------+-----------------------------+---------------------------+---------+
 ProjectClose | {{{${apiDomain}/project_close}/project_close}} | project 指定的项目名称 | 关闭指定项目。
*----------+-----------------------------+---------------------------+---------+
