<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Running Platform" sequenceNumber="7">
<locations>
<location path="${eclipse_home}" type="Profile"/>
</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86_64</arch>
<nl>en_US</nl>
</environment>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.5 -da -Xss1m -Xms64m -Xmx512m -XX:+UseConcMarkSweepGC  -XX:+CMSClassUnloadingEnabled  -XX:+CMSPermGenSweepingEnabled -Dfile.encoding=UTF-8 -Duser.name=pureart -Duser.language=en -Duser.country=US</vmArgs>
</launcherArgs>
</target>
